.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/secure/container-findings-detail.png", class: "hidden-xs", alt: "GitLab Secrets Detection", style: "margin-top: 50px;"
  .col-xs-12.col-md-6
    %h2 Secrets Detection
    %p
    %ul
      %li
        Prevent secrets from accidently leaking into your Git history.
      %li
        Each commit is scanned for secrets and results provided to the developer in-line with every merge request.
%hr.divider

